/* var(--color-indigo-600) for tw: */
:root {
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
}

.verse {
  @apply text-gray-900;
}
.verse:hover {
  @apply bg-indigo-50;
}
.note {
  position: relative;
  box-shadow: inset 0 -2px 0 var(--color-slate-300);
  cursor: pointer;
}
.note.hover,
.note:hover {
  color: var(--color-indigo-600);
  box-shadow: inset 0 -2px 0 var(--color-indigo-400);
}
.note.active {
  color: var(--color-indigo-600);
  box-shadow: inset 0 -2px 0 var(--color-indigo-400);
  /* add text effect */
  text-shadow: 0.1rem 0.1rem 0.3rem var(--color-indigo-400);
}